.cover {    

border: 2px solid red;
margin-left: 48px;
margin-right: 48px;
margin-bottom: 0px;
margin-top: 92px;


    background-image: url(/images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1184px;
    height: 740px;

    display: flex;
}


