.cover__subtittle {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
z-index: 1;
border: 2px solid red;
}
@media (max-width:532px){
    .cover__subtittle {
        font-size: 14px;
        line-height: 16px;
 }
@media (max-width:320px){
    .cover__subtittle {
        font-size: 14px;
        line-height: 16px;
 }