.cover__subtittle {
font-family: 'Inter', Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
z-index: 1;
max-width: 360px;
}
@media (max-width:532px){
    .cover__subtittle {
        font-size: 14px;
        line-height: 16px;
 }
}
