.intro__title {
font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: 58px;
color: #FFFFFF;

margin-top: auto;
margin-bottom: 0px;
margin-left: auto;
margin-right: auto;
}
@media (max-width:555px){
    .intro__title {
        font-size: 32px;
        line-height: 35px;
 }
}




