.places {
  margin-bottom: 0px;
margin-left: 148px;
margin-right: 148px;
margin-top:  80px;
border: 2px solid red;
width: 984px;
display: grid;
gap: 40px;
grid-template-columns: fit-content(460px) fit-content(484px) ;
grid-template-rows: auto auto;
  }
  
 
  
  
  