.footer {
    max-width: 1184px;
    max-height: 18px;
    margin-top: 92px;
    margin-bottom: 24px;
    margin-left: 48px;
    margin-right: 48px;
    display: flex;
}
@media (max-width:670px){
    .footer {
        flex-direction: column;
        margin-top: 64px;
        margin-left: 16px;
 }
}
@media (max-width:320px){
    .footer {
        flex-direction: column;
        margin-top: 64px;
        margin-left: 16px;
 }
}
 