.place__pharagraph {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 26px;
}
.place__pharagraph:last-of-type {
    margin-bottom: 0px;
}
@media (max-width:768px){
    .place__pharagraph {
        font-size: 16px;
        line-height: 26px;
 }
}
 @media (max-width:362px){
    .place__pharagraph {
        margin-left: 16px;
        margin-right: 16px;    
 }
}