.place__pharagraph {
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 163%;
color: #FFFFFF;
border: 2px solid red;

margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}