.cover__title {
font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
color: #FFFFFF;

margin-bottom: 0px;
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
border: 2px solid red;
text-align: center;
z-index: 2;
}