.footer__copyright {
margin-top: 2px;
margin-bottom: 0px;
margin-left: auto;


font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
}
@media (max-width:670px){
    .footer__copyright {
        margin-top: 48px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 14px;
        line-height: 14px;
 }
@media (max-width:320px){
    .footer__copyright {
        margin-top: 48px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 14px;
        line-height: 14px;
 }
