.pace__link {
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

text-decoration-line: underline;

color: white;
}